parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$value of class Orisai\\\\OpenAPI\\\\Enum\\\\ParameterIn constructor expects 'cookie'\\|'header'\\|'path'\\|'query', string given\\.$#"
			count: 1
			path: ../src/Enum/ParameterIn.php

		-
			message: "#^Parameter \\#1 \\$name of method Orisai\\\\OpenAPI\\\\Spec\\\\Encoding\\:\\:addContentType\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/EncodingTest.php

		-
			message: "#^Cannot call method toArray\\(\\) on Orisai\\\\OpenAPI\\\\Spec\\\\Schema\\|null\\.$#"
			count: 1
			path: ../tests/Unit/Spec/HeaderTest.php

		-
			message: "#^Parameter \\#1 \\$name of method Orisai\\\\OpenAPI\\\\Spec\\\\Header\\:\\:addContent\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/HeaderTest.php

		-
			message: "#^Cannot call method toArray\\(\\) on Orisai\\\\OpenAPI\\\\Spec\\\\Schema\\|null\\.$#"
			count: 1
			path: ../tests/Unit/Spec/ParameterTest.php

		-
			message: "#^Parameter \\#1 \\$name of method Orisai\\\\OpenAPI\\\\Spec\\\\Parameter\\:\\:addContent\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/ParameterTest.php

		-
			message: "#^Parameter \\#1 \\$name of method Orisai\\\\OpenAPI\\\\Spec\\\\RequestBody\\:\\:addContent\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/RequestBodyTest.php

		-
			message: "#^Parameter \\#1 \\$name of method Orisai\\\\OpenAPI\\\\Spec\\\\Response\\:\\:addContent\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/ResponseTest.php

		-
			message: "#^Parameter \\#1 \\$code of method Orisai\\\\OpenAPI\\\\Spec\\\\Responses\\:\\:addResponse\\(\\) expects '1XX'\\|'2XX'\\|'3XX'\\|'4XX'\\|'default'\\|int\\<100, 599\\>, '200' given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/ResponsesTest.php

		-
			message: "#^Parameter \\#1 \\$code of method Orisai\\\\OpenAPI\\\\Spec\\\\Responses\\:\\:addResponse\\(\\) expects '1XX'\\|'2XX'\\|'3XX'\\|'4XX'\\|'default'\\|int\\<100, 599\\>, '5XX' given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/ResponsesTest.php

		-
			message: "#^Parameter \\#1 \\$code of method Orisai\\\\OpenAPI\\\\Spec\\\\Responses\\:\\:addResponse\\(\\) expects '1XX'\\|'2XX'\\|'3XX'\\|'4XX'\\|'default'\\|int\\<100, 599\\>, int\\|string given\\.$#"
			count: 1
			path: ../tests/Unit/Spec/ResponsesTest.php

		-
			message: "#^Parameter \\#1 \\$mediaType of static method Orisai\\\\OpenAPI\\\\Utils\\\\MediaTypes\\:\\:format\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: ../tests/Unit/Utils/MediaTypesTest.php
